table {
    width: 50%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: gold;
}

tr:nth-child(even) {
    background-color: tan
}

tr:hover {
    background-color: #f1f1f1;
}
h1 {
    text-align: center;
    color: black;
}

button {
    background-color: gold;
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}